

:root {
  --color: #152347;
  --transition-time: 0.5s;
}

body{
  background-color:#fff;
  margin: 0;
  padding: 0;
}

.topnav {
  overflow: hidden;
  background-color: #152e47;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  padding-right: 15px;
  height: 3em;
}

.topnav .nav-logo{
    display: inline-block;
    margin: 7px 0px 1px 30px;
    height: 3px;
    min-width: 130px;
    white-space: nowrap;
    background-image: url('../img/logo_richit.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.dropdown {
  float: right;
  overflow: hidden;
}

/*======= Photo Gallery Styles ======================*/

/* The -25px on left and right margine is to counter the margin on the gallery thumbnails
   Doing this lines up the right and left-most gallery with the edge of the content */
.imgGalleryContainer {
  display: flex;
	flex-flow: row wrap;
	justify-content: center;
  align-content: center;
 /*  margin: 20px -25px;*/
  padding: 15px;
  margin-top: 30px;
}
.imgGalleryContainer:after {
	content: '';
	display: block;
	clear: both;
}
.imgGallery {
	margin: 25px;
  flex: 0 1 calc(20% - 50px);
  min-width: 300px;
  overflow:hidden;
	position: relative;
	overflow: hidden;
	/*border: 1px solid transparent;*/
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	opacity:0;
	-webkit-animation: imgGallerySlideIn .65s .15s ease forwards;
	animation: imgGallerySlideIn .65s .15s ease forwards;
}

.imgGallery:hover {
  transform: translateY(-4px) /*scale(1.005) translateZ(0)*/;
  -webkit-box-shadow: -18px 19px 31px -10px rgba(21,46,71,0.57);
  -moz-box-shadow: -18px 19px 31px -10px rgba(21,46,71,0.57);
  box-shadow: -18px 19px 31px -10px rgba(21,46,71,0.57);
}

.text {
  background: #152e47;
  color: white;
  text-align: left;
  display: flex;
  /*align-items: center;
  */ align-items: center;
  /* align-items: flex-end; */

  justify-content: center;
/*   justify-content: flex-end;  */
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 10vh;
  padding-bottom: 14vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 46px;
}







@media handheld, screen and (max-width: 999px) {
  .imgGallery {
    flex: 0 1 calc(25% - 50px);
  }
}

@media handheld, screen and (max-width: 809px) {
  .imgGallery {
    flex: 0 1 calc(33.33% - 50px);
  }
}

@media handheld, screen and (max-width: 619px) {
  .imgGallery {
    flex: 0 1 calc(50% - 50px);
    min-width:0;
  }
}

.imgGalleryContainer > .imgGallery:nth-of-type(2n),
.imgGalleryContainer > a:nth-of-type(2n) > .imgGallery {
	-webkit-animation-delay: .25s;
	animation-delay: .25s;
}
.imgGalleryContainer > .imgGallery:nth-of-type(3n),
.imgGalleryContainer > a:nth-of-type(3n) > .imgGallery {
	-webkit-animation-delay: .35s;
	animation-delay: .35s;
}
.imgGalleryContainer > .imgGallery:nth-of-type(4n),
.imgGalleryContainer > a:nth-of-type(4n) > .imgGallery {
	-webkit-animation-delay: .45s;
	animation-delay: .45s;
}
.imgGalleryContainer > .imgGallery:nth-of-type(5n),
.imgGalleryContainer > a:nth-of-type(5n) > .imgGallery {
	-webkit-animation-delay: .55s;
	animation-delay: .55s;
}
.imgGallery:active {
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
}
@-webkit-keyframes imgGallerySlideIn {
	0% {
		opacity:0;
		-webkit-transform:translateX(-29.0px);
		transform:translateX(-29.0px);
	}
	100% {
		opacity:1;
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
}
@keyframes imgGallerySlideIn {
	0% {
		opacity:0;
		-webkit-transform:translateX(-29.0px);
		transform:translateX(-29.0px);
	}
	100% {
		opacity:1;
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
}
.imgGallery:before {
	content: '';
	display: block;
	padding-top: 100%;
}
.imgGallery:after {
	content: attr(name);
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	box-shadow: inset 0 -50px 0 -1px rgba(21,46,71,.42);
	top: 0;
	left: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	padding-top: calc(100% - 36px);
	overflow: hidden;
	text-align: center;
	color: rgba(255,255,255,.8);
	/*border: 2px solid transparent;*/
	text-shadow: 0 2px 10px rgba(0,0,0,.42);
	-webkit-transition: box-shadow .290s ease, padding-top .290s ease;
	transition: box-shadow .290s ease, padding-top .290s ease;
}

.imgGallery:hover:after {
	box-shadow: inset 0 -69px 0 -1px rgba(0,0,0,.5);
	padding-top: calc(100% - 50px);
	white-space: normal;
	text-overflow: clip;
}
.imgGallery > img {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	bottom: 0;
	height: 100%;
	min-width: 100%;
	-webkit-object-fit: cover;
	object-fit: cover;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.imgGalleryExpanded {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 110;
	opacity: 0;
	font-family: Verdana;
	color: #fcfcfc;
	background: rgba(0,0,0,.8);
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: transform 0s .290s linear, opacity .290s ease;
	transition: transform 0s .290s linear, opacity .290s ease;
}
.imgGalleryExpanded:before, .imgGalleryExpanded:after {
	content: '';
	position: absolute;
	right: 20px;
	top: 30px;
	width: 30px;
	height: 3px;
	background: #fcfcfc;
	cursor: pointer;
}
.imgGalleryExpanded:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.imgGalleryExpanded:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.imgGalleryExpanded > button {
	position: absolute;
	cursor: pointer;
	outline: none;
	display: block;
	border: none;
	width: 50px;
	height: 45px;
	background: none;
	margin-top: 10px;
	left: 50%;
	top: 85%;
	float: left;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	margin-left: -40px;
}
.imgGalleryExpanded > button:active {
	-webkit-transform: translate(-50%, 2px);
	transform: translate(-50%, 2px);
}
.imgGalleryExpanded > button:after {
	content: '\f0d9  ';
	font-family: FontAwesome;
	display: block;
	position: absolute;
	text-indent: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fcfcfc;
	line-height: 50px;
	font-size: 400%;
	height: 100%;
	width: 100%;
	text-align:center;
	-webkit-transition: color .290s ease;
	transition: color .290s ease;
	-webkit-filter: drop-shadow(0 2px 10px rgba(0,0,0,.42));
	filter: drop-shadow(0 2px 10px rgba(0,0,0,.42));
}
.imgGalleryExpanded > button:nth-of-type(1):before {
	content: attr(data-count);
	display: block;
	position: relative;
	top: 42px;
	font-size: 120%;
	left: calc(100% - 10px);
	font-family: Verdana;
	color: #fcfcfc;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	text-shadow: 0 2px 10px rgba(0,0,0,.42);
}
.imgGalleryExpanded > button:active:before {
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}
.imgGalleryExpanded > button:nth-of-type(2) {
	margin-left: 40px;
}
.imgGalleryExpanded > button:nth-of-type(2):after {
	content: '\f0da ';
}
.imgGalleryExpanded > button:hover:after {
	color: #152e47;
}
.imgGalleryExpanded > .imgTitle {
	position: absolute;
	left: 50%;
	top: calc(10% + 30px);
	font-size: 130%;
	width:80%;
	text-align:center;
	text-shadow: 0 2px 10px rgba(0,0,0,.42);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.galleryImgs {
	position: relative;
	width: 80%;
	max-width: 1000px;
	min-width: 300px;
	display: block;
	left: 50%;
	top: 50%;
	overflow:hidden;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.galleryImgs:before {
	content: '';
	display: block;
	padding-top: 75%;
}
.galleryImgs img {
	top: 50%;
	left: 50%;
	opacity: 0;
	display: none;
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-filter: drop-shadow(0 0 10px rgba(0,0,0,.69));
	filter: drop-shadow(0 0 10px rgba(0,0,0,.69));
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: opacity .290s ease;
	transition: opacity .290s ease;
}
.imgGallery.open + .imgGalleryExpanded {
	display: block;
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: transform 0s linear, opacity .290s ease;
	transition: transform 0s linear, opacity .290s ease;
}
.imgGallery.open + .imgGalleryExpanded > .galleryImgs > img {
	display: block;
}
.imgData {
	width:100%;
	color:#fcfcfc;
	height:100px;
	position:fixed;
	display:table;
	left:50%;
	top:0;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	-webkit-transition: transform .145s ease, height .145s ease;
	transition: transform .145s ease, height .145s ease;
	background:rgba(0,0,0,.5);
}
@media handheld, screen and (max-width: 959px) {
.imgData {
	height:42px;
}
}
.imgData:after {
	content:attr(data);
	width:100%;
	height:100%;
  	display: table-cell;
  	vertical-align: middle;
  	text-align: center;
	color:#fcfcfc;
	text-shadow: 0 2px 10px rgba(0,0,0,.42);
}

.card-grid-space {
  margin: 1em 1.5em 1em 1.5em;
}

.card {
  font-family: 'Roboto', sans-serif;
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(21,46,71,var(--bg-filter-opacity)),rgba(21,46,71,var(--bg-filter-opacity))), var(--bg-img);
  height: 10em;
  width: 10em;
  font-size: 1.5em;
  color: white;
  border-radius: 0.8em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 2.5em -1.2em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  /*border: 10px solid #ccc;*/
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: #fff;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}


iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 93vh;        /* Viewport-relative units */
    width: 100vw;
}

/* MEDIA QUERIES */


@media screen and (max-width: 900px) {

  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    /margin-left: 0;
    /text-align: center;
  }
}

@media screen and (max-width: 500px) {

  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 5px solid pink;
  background: pink;
}
