/* Add here all your CSS customizations */


.wrapper {
    position: relative;
}

.wrapper img {
    position: relative;
    left: 0;
    top: 0;
}

.wrapper-caption  {
    z-index: 200;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    /*margin: 0 auto;
    width: 300px; */
    vertical-align: middle;
}

.align-middle {
    vertical-align: middle;
    margin-top: 25%;
    margin-bottom: 25%;
}