/*.wrapper {
    width:218px;
    height:218px;
    overflow:hidden;
    position:relative;
}

.wrapper-caption {
    background-size: cover;
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.wrapper-caption0 {
    z-index: 1000;
}

.wrapper-caption h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0,0,0,0.75 );
    padding: 4px 8px;
    color: white;
    margin: 0;
}
*/
/*
.wrapper {
    position: relative;
}

.wrapper img {
    position: absolute;
    left: 0;
    top: 0;
}

.wrapper-caption  {
    z-index: 9999;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100%;
    margin: 0 auto;
    width: 300px;
}
*/