#value-proposition1 {
    background-image: url(../images/header/item-1.jpg);
    color:aliceblue;
    padding: 100px;
    background-size: cover;
}
#value-proposition2 {
    background-image: url(../images/header/item-2.jpg);
    color:aliceblue;
    padding: 100px;
    background-size: cover;
}
#value-proposition3 {
    background-image: url(../images/header/item-3.jpg);
    color:aliceblue;
    padding: 100px;
    background-size: cover;
}
#value-proposition4 {
    background-image: url(../images/header/item-4.jpg);
    color:aliceblue;
    padding: 100px;
    background-size: cover;
}
.page-header1 {
  background: #11433b;
}
.page-header2 {
  background: #3d0f1b;
}
.page-header3 {
  background: #2c0f3d;
}
.page-header4 {
  background: #0f1548;
}
.page-header5 {
  background: #50517a;
}
.page-header6 {
  background: #658466;
}
.page-header7 {
  background: #656565;
}
.page-header8 {
  background: #000000;
}