#value-proposition1 {
    background-image: url(../images/header/item-1.jpg);
    color:aliceblue;
    padding: 100px;
    background-size: cover;
}
#value-proposition2 {
    background-image: url(../images/header/item-2.jpg);
    color:aliceblue;
    padding: 100px;
    background-size: cover;
}
#value-proposition3 {
    background-image: url(../images/header/item-3.jpg);
    color:aliceblue;
    padding: 100px;
    background-size: cover;
}
#value-proposition4 {
    background-image: url(../images/header/item-4.jpg);
    color:aliceblue;
    padding: 100px;
    background-size: cover;
}
.page-header1 {
  background: #11433b;
}
.page-header2 {
  background: #3d0f1b;
}
.page-header3 {
  background: #2c0f3d;
}
.page-header4 {
  background: #0f1548;
}
.page-header5 {
  background: #50517a;
}
.page-header6 {
  background: #658466;
}
.page-header7 {
  background: #656565;
}
.page-header8 {
  background: #000000;
}
.service-item h3 span
{
    opacity: 0.7;
    font-size: 75px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-weight: 900;
    padding-right: 6px;
    color: aliceblue;
}
.service-item h3
{
    font-weight: 700;
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
}
.service-item p
{
    opacity: 0.6;
    color: whitesmoke;
    padding: 10px 0px;
}
.service-item ul
{
    color: whitesmoke;
    padding: 30px;
}
#service
{
    background: gray;
}
ul.service-list li i
{
    color: #ffffff;
    padding-left: 30px;
}
.photo-grid {
	text-align: center;
}

.photo-grid li {
	border: 5px solid white;
	display: inline-block;
}

.photo-grid img {
	display: block;
	height: auto;
	max-width: 100%;
}
.photo-grid figure {
	height: 200px;
	overflow: hidden;
	position: relative;
	width: 360px;
}