@charset "UTF-8";
/* CSS Document */

body {
	background: #f1f1f2;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0 0 50px; /* bottom = footer height */
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Montserrat', sans-serif; font-weight:700;
	text-transform: uppercase;
	letter-spacing: 2px
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, select:focus, .uneditable-input:focus {
	border-color: #bd9b60;
	box-shadow: none;
	outline: 0 none !important;
}
p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif; font-weight:300;

	letter-spacing: 1px
}
header {
	background: #152e47;
	padding: 10px 0;
}
header .logo {
	max-width: 120px;
}
.jumbotron-elastic {
	width: 100%;
	min-height: 450px;
	background: url('../images/imgLanding/elasticFondo-01.png') center center;
	background-size: cover;
	opacity: 1;
	display: table;
	width: 100%;
	position: relative;
	border-radius: 0px;
	color: white;
	text-transform: uppercase;
	margin: 0;
	-webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 85%);
  clip-path: url(#poly);
	overflow: hidden;

}
.jumbotron-elastic h1 {
	font-size: 50px;
}
.jumbotron-elastic h2 {
	font-size: 18px;
	margin: 0;
}
.jumbotron-cloudera {
	width: 100%;
	min-height: 450px;
	background: url('../images/imgLanding/cloudera-01.png') center center;
	background-size: cover;
	opacity: 1;
	display: table;
	width: 100%;
	position: relative;
	border-radius: 0px;
	color: white;
	text-transform: uppercase;
	margin: 0;
	-webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 85%);
  clip-path: url(#poly);
	overflow: hidden;

}
.jumbotron-cloudera h1 {
	font-size: 50px;
}
.jumbotron-cloudera h2 {
	font-size: 18px;
	margin: 0;
}

.jumbotron-dremio {
	width: 100%;
	min-height: 450px;
	background: url('../images/imgLanding/fondoDremio-01.png') center center;
	background-size: cover;
	opacity: 1;
	display: table;
	width: 100%;
	position: relative;
	border-radius: 0px;
	color: white;
	text-transform: uppercase;
	margin: 0;
	-webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 85%);
  clip-path: url(#poly);
	overflow: hidden;

}
.jumbotron-dremio h1 {
	font-size: 50px;
}
.jumbotron-dremio h2 {
	font-size: 18px;
	margin: 0;
}

.jumbotron-kafka {
	width: 100%;
	min-height: 450px;
	background: url('../images/imgLanding/confluentFondo-01.png') center center;
	background-size: cover;
	opacity: 1;
	display: table;
	width: 100%;
	position: relative;
	border-radius: 0px;
	color: white;
	text-transform: uppercase;
	margin: 0;
	-webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 85%);
  clip-path: url(#poly);
	overflow: hidden;

}
.jumbotron-kafka h1 {
	font-size: 50px;
}
.jumbotron-kafka h2 {
	font-size: 18px;
	margin: 0;
}

.jumbotron-rsp {
	width: 100%;
	min-height: 450px;
	background: url('../images/imgLanding/rsp-01.png') center center;
	background-size: cover;
	opacity: 1;
	display: table;
	width: 100%;
	position: relative;
	border-radius: 0px;
	color: white;
	text-transform: uppercase;
	margin: 0;
	-webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 85%);
  clip-path: url(#poly);
	overflow: hidden;

}
.jumbotron-rsp h1 {
	font-size: 50px;
}
.jumbotron-rsp h2 {
	font-size: 18px;
	margin: 0;
}

#video-bg {
	position: absolute;
	right: 0;
	bottom: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	background: #000;
	z-index: -1;
	/*background-size: cover;*/
	opacity: 1;
}
#black {
	position: absolute;
	right: 0;
	bottom: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	/*background: rgba(26,29,37,0.8);*/
}
#main-wrapper {
	margin-top: 0;
}
.main-content {
	padding-top: 25px;
}
.main-content .white-box {
	padding: 25px;
	margin: 25px 0;
	background: #fff
}
.main-content ul {
	list-style: initial;
	margin-left: 15px
}
.main-content .final-cta {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif; font-weight:700;
	text-transform: uppercase
}
.form-container {
	background: #fff;
	padding: 25px 30px 20px 30px;
	border-radius: 3px;
	margin-top: -300px;
}

.form-container h4 {
	font-size: 18px;
	margin: 10px 0px 20px 0px;
}

.form-container p {
	font-size: 16px;
	margin: 0px 0px 15px 0px;
}

.form-container input{
	position: relative;
	width: 100%;
	height: 60%;
	margin: auto;
	padding: 10px 20px;
	margin-top: 5px;
	align-items: center;
	border-radius: 3px;
	box-sizing: border-box;
  border: 1px solid #c2c8cd;
}

.form-container label {
/*	display: none*/
	width: 50%;
	margin-bottom: 2px;
	display: inline-block;
	text-align: left;
	font-weight: 400;
	margin: 15px 0px 5px 0px; ;
}

#boton-f {
	background-color: #4caf50;
	color: #fff;
	border-radius: 3px;
	margin-top: 25px;
	margin-bottom: 50px;
}
::-webkit-input-placeholder {
   color:transparent;
}

:-moz-placeholder { /* Firefox 18- */
   color:transparent;
}

::-moz-placeholder {  /* Firefox 19+ */
   color:transparent;
}

:-ms-input-placeholder {
   color:transparent;
}


/*.form-container div {
	margin: 20px 0;
}¿*/
/*.form-container input, .form-container select {
	border: none;
	border-bottom: 1px solid #ccc;
	font-family: 'Open Sans', sans-serif; font-weight:300;
	font-size: 12px;
	padding: 3px 0;
	border-radius: 0px;
	box-shadow: none;
	-webkit-appearance: none;
	color: #000;
	letter-spacing: 1px
}
.form-container option {
	margin: 0;
}


.form-container .placeholder {
	color: #000 !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif; font-weight:300;
}
select option:first-child {
	display: none;
}
::-webkit-input-placeholder {
 color: #000 !important;
 text-transform:uppercase;
letter-spacing:1px;
font-size:12px;
font-family:Gibson-Light;
}
.form-container .btn-primary {
	background: #00af66;
	padding: 15px 0;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif; font-weight:700;
	text-transform: uppercase;
	color: white
}*/
/*
:-moz-placeholder { /* Firefox 18-
 color: #000 !important;
 text-transform:uppercase;
letter-spacing:1px;
font-size:12px;
font-family: 'Open Sans', sans-serif; font-weight:300
}*/
/*
::-moz-placeholder {  Firefox 19+
 color: #000 !important;
 text-transform:uppercase;
letter-spacing:1px;
font-size:12px;
font-family: 'Open Sans', sans-serif; font-weight:300
}*/
/*
:-ms-input-placeholder {
 color: #000 !important;
 text-transform:uppercase;
letter-spacing:1px;
font-size:12px;
font-family: 'Open Sans', sans-serif; font-weight:300
}
*/
footer {
	color: #999;
	position: absolute;
	background: #152e47;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 100%;
	padding: 10px 0;
	font-size: 12px;
}

.padre-2a{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijo-3 {
  padding: 10px;
  margin: 3px;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #D8DBE2;
  border-radius: 15px;
}

.izq {
  vertical-align: center;
  width: 25%;
}

.izq img {
     position: relative;
     top: 50%;
     transform: perspective(1px) translateY(-50%);
     left: 25%;;
}

.der {
  vertical-align: center;
  width: 75%;
}

.der p {
     position: relative;
     top: 50%;
     transform: perspective(1px) translateY(-50%);
}

/* efecto cards*/
.card0:hover {
  transform: translateY(-4px) /*scale(1.005) translateZ(0)*/;
}

.card:hover {
  webkit-box-shadow: -13px 15px 16px -4px rgba(21,46,71,0.29);
  -moz-box-shadow: -13px 15px 16px -4px rgba(21,46,71,0.29);
  box-shadow: -13px 15px 16px -4px rgba(21,46,71,0.29);
}


@media (min-width: 480px) and (max-width: 980px) {

.form-container {
	margin-top: 20px;
}
} /**** END 320 and 480 ****/

@media (min-width: 320px) and (max-width: 480px) {
.jumbotron-elastic {
	min-height: 460px;
	padding: 5px 15px;
}
.jumbotron-elastic h1 {
	font-size: 30px;
}
.jumbotron-elastic h2 {
	font-size: 16px;
}

.jumbotron-cloudera{
	min-height: 460px;
	padding: 5px 15px;
}
.jumbotron-cloudera h1 {
	font-size: 30px;
}
.jumbotron-cloudera h2 {
	font-size: 16px;
}

.jumbotron-dremio{
	min-height: 460px;
	padding: 5px 15px;
}
.jumbotron-dremio h1 {
	font-size: 30px;
}
.jumbotron-dremio h2 {
	font-size: 16px;
}

.jumbotron-kafka{
	min-height: 460px;
	padding: 5px 15px;
}
.jumbotron-kafka h1 {
	font-size: 30px;
}
.jumbotron-kafka h2 {
	font-size: 16px;
}

.jumbotron-rsp {
	min-height: 460px;
	padding: 5px 15px;
}
.jumbotron-rsp h1 {
	font-size: 30px;
}
.jumbotron-rsp h2 {
	font-size: 16px;
}

.form-container {
	margin-top: 20px;
}
} /**** END 320 and 480 ****/
